.butons {
  display: flex;
  padding-top: 25px;
  gap: 30px;
}
.button1,
.button2 {
  background-color: #fff;
  font-family: Roboto;
  font-size: 21px;
  font-weight: 400;
  line-height: 24.61px;
  text-align: left;
  padding: 15px 32px;
  border-radius: 5px;
  @media (max-width: 800px) {
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    padding: 10px 20px;
    border-radius: 3px;
  }
}
.button1 {
  background: #c7f2ff;
}

.button1:hover,
.button2:hover {
  background: #fff;
  transform: translateX(7px) translateY(7px);
  transition: 0.2s;
  color: #a7ebff;
}
.button2:hover {
  background: #c7f2ff;
  color: #fff;
}

.button2:active {
  background: #fff;
}
.button1:active,
.button2:active {
  transform: translateX(4px) translateY(4px);
}
.button3 {
  background: #34c9b6;
  padding: 12px 30px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.09px;
  text-align: left;
  color: #fff;
  @media (max-width: 800px) {
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    text-align: left;
    padding: 10px 20px;
    border-radius: 3px;
  }
}
.button3 {
  border-radius: 5px;
}
.button3:hover {
  background: #00ace0;
}
.button3:active {
  background: #34c9b6;
}
